#notice{display:none!important;}
div.modal-backdrop.fade.show{display:none!important;}
.modal-open{overflow:auto !important;}
div.jq-toast-wrap{display:none!important;}
.card-body.text-cool{display:none!important;}
.alert{display:none!important;}
#related{display:none!important;}
#yalayi{display:none!important;}
