#!name = BreakSSL
#!desc = 适合解除SSL证书锁定的app。不会注入不建议启用此重写。第三方库仓库: https://github.com/NyaMisty/ssl-kill-switch3
#!author = RuCu6
#!update = 2023-12-07 17:55

# ======= Y ======= #
# 云闪付
^https:\/\/account\.95516\.com\/fortune\/inApp\/common\/ url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/breakssl.js
^https:\/\/base\.95516\.com\/app\/inApp\/sys\/appShowGroup\/ url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/breakssl.js
^https:\/\/content\.95516\.com\/koala-pre\/koala\/(recommend\/hotList|right\/queryAllRights) url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/breakssl.js
;^https:\/\/life\.95516\.com\/life\/inApp\/wealth\/home\/(qryChoiceList|qryTopList) url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/breakssl.js

hostname = *.95516.com
